.fixedContainer {
	position: fixed;
	width: inherit;
	backdrop-filter: blur(10px);
}

.container {
	display: flex;
	justify-content: space-around;
	height: 53px;
}

.container > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tabIndicator {
	width: 56px;
	height: 4px;
	background-color: rgb(29, 155, 240);
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	align-self: center;
}
